.adventure-card {
    text-align: left;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    .overlay {
        position: relative;
    }

    &__adventure-header, &__home-header {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 20px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__adventure-header {
        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 100%;
            border-radius: 20px;
            background: linear-gradient(1turn, rgb(37, 37, 37) -5.1%,transparent 52.33%);
        }
    }

    &__body {
        position: absolute;
        margin: 24px;
        left: 0;
        right: 0;
        bottom: 0;

        h5 {
            font-size: 24px;
            font-weight: 700;

            small {
                display: block;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

.adventure-card-modal {
    position: static;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex: 0.3;
    color: white;

    &__img-frame {
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        h5 {
            font-size: 24px;
            font-weight: 700;
        }
    }
    

    button {
        position: absolute;
        top: 16px;
        right: 16px;
        height: 34px;
        width: 34px;
        padding: 9px;
        border: 0;
        border-radius: 20px;
        background-color: hsla(0,0%,100%,.3);

        &::before {
            position: absolute;
            height: 17px;
            top: 8px;
            right: 6px;
            width: 2px;
            left: 16px;
            transform: rotate(45deg);
            background-color: white;
            border-radius: 3px;
            content: "";
        }

        &::after {
            position: absolute;
            height: 17px;
            top: 8px;
            right: 6px;
            width: 2px;
            left: 16px;
            transform: rotate(135deg);
            background-color: white;
            border-radius: 3px;
            content: "";
        }
    }
}

.adventure-card-modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}