@import './navbar.scss';

.header-aside-right .navbar {
    padding: 0;
    &__item {
        padding: 10px 19px;
        button {
            background-color: transparent;
            border: 0;
            padding: 0;
            color: inherit;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.hide {
    display: none;
}