.header {
    position: fixed;
    top : 0;
    left : 0;
    right : 0;
}

.header-nav {
    display: flex;
    align-items: center;
    height: 70px;
}

.header-aside-left{
    flex: 1;
}

.header-body {
    display: flex;
    justify-content: center;
}

.header-aside-right {
    flex: 1;
    display: flex;
    justify-content: end;
}