@import './navbar.scss';

.header-body {
    .navbar {
        font-size: 16px;
        font-weight: 600;
        padding: 0;
        color: inherit;
    
        a {
            padding: 5px 0;
        }
    
        &__item {
            padding: 10px 24px;
        }
    }

    .active {
        border-bottom: 1px solid;
    }
}