@import './_variables.scss';
$weeklyAdventureHeight : 600px;

.weekly-adventure {
    padding: 100px 0;
    background-color: $dosiBlue;
    color: white;

    &__header {
        text-align: center;

        h4 {
            margin: 0;
            font-size: 48px;
            margin-bottom: 13px;
        }

        p {
            font-size: 20px;
            opacity: 0.8;
        }
    }

    &__body {
        margin-top: 27px;

        &__carousel {
            text-align: center;
        }
    }

    &__footer {
        text-align: center;
        button {
            margin-top: 40px;
            padding: 20px 36px;
            font-size: 20px;
            font-weight: 600;
            color: white;
            background-color: black;
            border-radius: 100px;
            border: 1px solid black;
        }
    }
}